.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  margin: 0 auto;
  justify-content: end;
}

.action-column-header {
  margin: 0 250px;
  max-height: 50px;
  max-width: 50px;
}


